### First ideas:
On the users.csv file we'll:
- Try K-modes,hierarchical clustering and fuzzy c-means

In [2]:
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt

cluster_colors = ['#b4d2b1', '#568f8b', '#1d4a60', '#cd7e59', '#ddb247', '#d15252']

# Load the dataset
df = pd.read_csv("../datasets/users.csv")
display(df)
# Get 1-hot encoded dataset
df_onehot = pd.get_dummies(df)

display(df_onehot)

             CT          CU          LT         TC
0    CT_range_4  CU_range_1  LT_range_4      sport
1    CT_range_1  CU_range_4  LT_range_1  ECommerce
2    CT_range_1  CU_range_5  LT_range_4  ECommerce
3    CT_range_1  CU_range_5  LT_range_4  ECommerce
4    CT_range_1  CU_range_4  LT_range_4  ECommerce
..          ...         ...         ...        ...
317  CT_range_2  CU_range_1  LT_range_4      sport
318  CT_range_3  CU_range_1  LT_range_4      sport
319  CT_range_1  CU_range_3  LT_range_4      sport
320  CT_range_2  CU_range_1  LT_range_4      sport
321  CT_range_3  CU_range_1  LT_range_4      sport

[322 rows x 4 columns]

,CT_CT_range_1,CT_CT_range_2,CT_CT_range_3,CT_CT_range_4,CU_CU_range_1,CU_CU_range_3,CU_CU_range_4,CU_CU_range_5,LT_LT_range_1,LT_LT_range_2,LT_LT_range_3,LT_LT_range_4,TC_ECommerce,TC_game,TC_holiday,TC_sport
0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1
1,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0
3,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0
4,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
318,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1
319,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1
320,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
321,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1

In [11]:
from kmodes.kmodes import KModes
from yellowbrick.cluster import KElbowVisualizer

fig, ax = plt.subplots()

visualizer = KElbowVisualizer(KMeans(), k=(2,7),ax=ax)
visualizer.fit(df_onehot)
ax.set_xticks(range(2,7))

visualizer.show()
plt.show()

# Perform k-modes clustering
km = KModes(n_clusters=4, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(df_onehot)

# Visualize the clusters
plt.scatter(df_onehot.iloc[:, 0], df_onehot.iloc[:, 1], c=clusters, cmap='viridis')
plt.show()

ModuleNotFoundError: No module named 'yellowbrick'